Django>=3.2.4,<3.3
wheel==0.38.4
djangorestframework>=3.12.4,<3.13
psycopg2>=2.8.6<2.9
drf-spectacular>=0.23.1,<0.24.1
djangorestframework-simplejwt>=5.2.0,<5.2.1
pillow>=8.2.0,<8.3.0
django-filter==22.1
cloudinary==1.29.0
dj-database-url==1.0.0
dj3-cloudinary-storage==0.0.6
Django==3.2.12
django-filter==22.1
django-phonenumber-field==6.3.0
drf-spectacular==0.23.1
drf-spectacular-sidecar==2022.8.1
drf-yasg==1.21.3
gunicorn==20.1.0
phonenumbers==8.12.53
psycopg2==2.9.5
psycopg2-binary==2.9.5
uvicorn==0.18.3
